
body{
    font-family: sans-serif;
    font-size: 110%;
    margin: 0;
    background-color: #8cafe4;
}

header{
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}

.hero-image{ background-image: linear-gradient(rgba(12, 230, 230, 0.603), rgba(0, 0, 0, 0.575)), url("Images/programming.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2rem;

}

.hero-text {
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
}

#headshot{
    border-radius: 50%;
    border: 5px solid;
    border-color: rgb(8, 70, 99);
}

#navbar {
    background-color: rgb(23, 23, 23);
    color: white;
    text-align: center;
    z-index: 1;
    padding: 1rem;
}

.nav-link {
    text-decoration: none;
    color:white;
    margin: 0 4vw;
}

.nav-link:hover {
    color: rgb(63, 219, 159);
    text-decoration: none;
}

#navbar {
    position: sticky;
    top: 0%;
}

button:hover {
    background-color: rgb(63, 219, 159);
    text-decoration: none;
}

h2{
    background-color: rgb(7, 7, 71);
    color: rgb(209, 208, 216);
    text-align: center;
    margin: 0%;
    padding: 0.3rem;  
}

#about-content{
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 20px;
}

#footer {
    margin-top: 4rem;
    background-color: rgb(23, 23, 23);
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
}

#whatsapp{
    height: 8ch;
}

#gmail{
    height: 8ch;
}